.pepe{
    color: black;
    text-decoration: none !important
}
.whynot{
   
    font-weight: 600;
    background-color: whitesmoke;
    width: 450px;
    left: -10%;
    padding-bottom: 0em;
}
.whybro{
    font-weight: 600;
    font-size: normal;
    width: 400px; 
    top: 30%;
    left: 20%;
}  
.dude{
    color: white;
    font-weight: 500;
}
.covid{
    text-decoration: tomato;
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .left {
    left: 0;
    
  }
  .right {
    right: 0;  
  }
  .jeez{
      top: 20%;
      left: 5%;
  }
  .cool{
      width: 50%;
      left:20%;
  }
  .coolit{
      width: 350px;
      background-color: whitesmoke;
      font-weight: 500;

  }
  .okay{
      width:400px;
      background-color: whitesmoke;
      font-weight: 600;
  }
.afor{
    text-align: center;
    font-weight: 500;
    color: white;
}
.ki{
    text-align: center;
}
.cfor{
    text-align: center;color: white;
    font-weight: 600;

}
.bfor{
    padding: 2%;
    width:500px;
    left:100;
}
.lm{
    padding: 2%;
        
}
.dfor{
    left: 70%;
}
.pepe1{
    color: white;
    text-decoration: none !important
}
.sure{
    left:35%;
    top: 20%;
    width:400px;
}
.jlo{
    font-weight: 600;
}
.koma{
    color: white;
    margin-top: 33px;
    margin-right: 288px;
}
.lll{
    width: 350px;
}
.bfs{
    color: white;
    font-weight: 700;
}
.pepe2{
    color: black;
    text-decoration: none !important
}
.mlo{
    color:white;
    font-weight: 600;
}
.ok{
    color: white;
}

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    
    


